<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="titulo">Mini Dev Editor</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <!-- impedir a execução de scripts externos ou não autorizados -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'">
</head>

<body>
    <!-- linhas -->
    <div id="linhas"></div>
    <!-- editor -->
    <textarea id="txtArea" spellcheck="false" wrap="off"></textarea>
    <!-- Renderizador -->
    <script src="renderer.js"></script>
</body>

</html>